<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course14: 自动侦听器 watchEffect </title>
</head>

<body>
    <div id="app">
        爱好
        <select v-model="hobby">
            <option value="">请选择</option>
            <option value="1">写作</option>
            <option value="2">画画</option>
            <option value="3">运动</option>
        </select>

        <hr>

        年
        <select v-model="date.year">
            <option value="">请选择</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>

        月
        <select v-model="date.month">
            <option value="">请选择</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>

    <!-- 将 <script> 标签放在 <body> 标签的末尾 -->
    <script type="module">
        import { createApp, ref, reactive, watchEffect } from './vue.esm-browser.js'
        createApp({
            setup() {
                const hobby = ref("")

                const date = reactive({
                    year: "2023",
                    month: "10"
                })

                watchEffect(() => {

                    console.log("监听开始-----")

                    console.log("hobby", hobby.value)
                    if (hobby.value === "1") {
                        console.log("写作")
                    } else if (hobby.value === "2") {
                        console.log("画画")
                    } else if (hobby.value === "3") {
                        console.log("运动")
                    }

                    if (date.year === "2024") {
                        console.log("2024")
                    }

                    if (date.month === "12") {
                        console.log("12")
                    }

                    console.log("监听结束-----")
                })

                return {
                    hobby,
                    date
                }
            }
        }).mount('#app')
    </script>
</body>

</html>